.theme {
	background-color: black;
	color: green;
}

body {
	margin: 0;
}

#chatWrapper > div {
	border: 1px solid grey;
	padding: .25em;
	margin-bottom: .25em;
	border-radius: 5px;
}

div p,
div button {
	display: inline-block;
}

/*#chatWrapper button {
	float: right;
	margin: 1em .5em 1em 0;
}*/

#pageWrapper {
	height: 97vh;
	margin: 0;
}

#header {
	background-color: lightblue;
	height: 10vh;
	overflow: hidden;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center; 
	padding: .25em;
}

#header input {
	width: 50%;
	flex-grow: 1;
}

#imageWrapper {
	display: inline-block;
	min-width: 125px;
}

#imageWrapper img {
	height: 30px;
	float: left;
	margin: 0 auto;
}

#checkboxDiv {
	height: 5vh;
}

#chatWrapper {
	overflow: scroll;
	height: 81vh;
	background-color: lightgrey;
	border: none;
	padding: .25em;
}

#chatWrapper > div {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

#chatWrapper div p {
	flex-grow: 1;
}

.buttonWrapper {
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0;
}

.largeText {
	font-size: 1.3em;
}

.buttonText {
	font-size: .8em;
}

.isHidden {
	display: none;
}

