/*general styling*/
body {
	margin: 0;
	background-color: #FFF59A;
}

div p,
div button {
	display: inline-block;
}
/*page wrapper*/
#pageWrapper {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}
/*header*/
#header {
	background-color: #FF5F5C;
/*	border-radius: 5px 5px 0 0;*/
	height: 10vh;
/*	overflow: hidden;*/
	width: 100%;
	margin: 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center; 
}

#header input {
	width: 50%;
	flex-grow: 1;
	padding: .25em;
	margin: auto .25em;
}

#imageWrapper {
/*	display: inline-block;
*/	width: 15%;
	padding: .25em;
	min-width: 80px;
	max-width: 115px;
}

#imageWrapper img {
	min-height: 25px;
	margin: 0 auto;
}

#header button {
	padding: .25em;
	margin: auto .25em;
}

/*checkboxDiv*/
#checkboxDiv {
	background-color: #FFAB75;
	height: 5vh;
	width: 100%;
	margin: 0;
/*	border-radius: 0 0 5px 5px ; */
}

#checkboxDiv label {
	font-size: .7em;
}

/*chatWrapper*/
#chatWrapper {
	overflow: scroll;
	height: 81vh;

	border: none;
	padding: .25em;
}

/*messages*/
#chatWrapper > div {
	background-color: #81ABD5;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid grey;
	padding: .25em;
	margin-bottom: .25em;
	border-radius: 5px;
}

#chatWrapper div p {
	flex-grow: 1;
}


/*wrapper for buttons in messages - aligns to right*/
.buttonWrapper {
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0;
}

/*large text option changes:*/
.largeText {
	font-size: 1.3em;
}

.buttonText {
	font-size: .8em;
}
/*hide toggle for event handlers*/
.isHidden {
	display: none;
}
/*dark theme changes to colors:*/
.theme {
	background-color: black;
	color: green;
}


.theme #chatWrapper > div {
	background-color: darkgrey;
}

