.theme
{
	background-color: black;
	color: green;
}

.largeText
{
	font-size: 1.3em;
}

.buttonText
{
	font-size: 1.3em;
}

#imageWrapper img {
	height: 30px;
	float: left;
	margin-right: 5px;
}

.isHidden {
	display:none;
}