
.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.black{
background-color: black;
}

.white{
    color:white;
}

.yellow{
    color:yellow
}

.lime{
    color:greenyellow;
}

.pink{
    color:pink;
}